.App {
  text-align: center;
  background-color: #2C2C2C;
  min-height: 100vh;
  padding: 100px;
}

.headline {
  width: 80%;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  font-size: calc(10px + 4vmin);
  color:antiquewhite;
  /* margin-left: auto; */
  text-align: left;
  margin-top: 2%;
  display: block;
}

.hero-image {
  /* height: 40vmin; */
  height: 300px;
  pointer-events: none;
  object-fit: cover;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}  */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
